<%- include('../partials/header') %>
    <h2>Books Available</h2>
    <% if (books.length > 0) { %>
        <table id="book-list">
            <thead id="book-list-header">
                <tr>
                    <th></th>
                    <th>Title</th>
                    <th>Author</th>
                </tr>
            </thead>
            <tbody>
                <% books.forEach(function(b) { %>
                    <tr>
                        <td>
                            <a href="/books/<%= b._id %>"><img id="list-book" src="https://i.imgur.com/T4o6dRh.png"></a>
                        </td>
                        <td>
                            <a id="list-title" href="/books/<%= b._id %>">
                                <%= b.title %>
                            </a>
                        </td>
                        <td>
                            <%= b.author %>
                        </td>

                    </tr>
                    <%})%>
            </tbody>
        </table>
        <% } else {%>
            <h1>No Books in Database</h1>
            <% } %>

                <%- include('../partials/footer') %>