<%- include('../partials/header') %>
    <h2>Books Available</h2>
    <% if (books.length > 0) { %>
        <table id="book-list">
            <thead id="book-list-header">
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% books.forEach(function(b) { %>
                    <tr>
                        <td>
                            <%= b.title %>&nbsp;&nbsp;&nbsp;
                        </td>
                        <td>
                            <%= b.author %>&nbsp;&nbsp;&nbsp;
                        </td>
                        <td>
                            <a href="/books/<%= b._id %>"><img src="https://i.imgur.com/5CPYOKN.png" height=30 width=30></a>
                        </td>
                    </tr>
                    <%})%>
            </tbody>
        </table>
        <% } else {%>
            <h1>No Books in Database</h1>
            <% } %>

                <%- include('../partials/footer') %>