<%- include('../partials/header') %>
    <h2>Your Collection</h2>
    <% if (shelves.length > 0) { %>
        <table id="shelf-list">
            <thead>
                <tr>
                    <th></th>
                    <th>Shelf</th>
                    <th>|</th>
                    <th>Notes</th>
                </tr>
                <br>
                <tr></tr>

            </thead>
            <tbody>
                <% shelves.forEach(function(s) { %>
                    <tr>
                        <td>
                            <form id="remove-shelf" action="/shelves/<%=s ._id %>?_method=DELETE" method="POST">
                                <button type="submit" onclick="return confirm ('Delete Shelf?');">X</button>
                            </form>
                        </td>
                        <td>
                            <%= s.name %>
                        </td>
                        <td>|</td>
                        <td>
                            <%= s.notes %>
                        </td>
                    </tr>
                    <tr>
                        <td>

                            <% s.books.forEach(function(book){ %>
                                <a href="/books/<%= book._id %>" style="color: #d2d2d2">
                                    <%= book.title %>
                                </a>

                        </td>
                        <td>
                            <form id="remove-book" action="/shelves/<%=s ._id %>/books/<%= book._id %>?_method=DELETE" method="POST">
                                <button type="submit" onclick="return confirm('Remove book?');">X</button>
                            </form>
                            <%})%>
                        </td>
                        <td>
                            <form id="add-book" action="/shelves/<%= s._id%>" method="POST">
                                <input name="title" placeholder="Search for a Book">
                                <button type="submit">Add Title</button>
                            </form>
                        </td>

                    </tr>
                    <%})%>
            </tbody>
        </table>
        <br>
        <form id="add-shelf" action="/shelves" method="POST">
            <input name="name" placeholder="Shelf Name">
            <input name="notes" placeholder="Shelf Notes">
            <button type="submit">Add Shelf</button>
        </form>
        <% } else {%>
            <h2>No Shelves Available Yet</h2>
            <form id="add-shelf" action="/shelves" method="POST">
                <input name="name" placeholder="Shelf Name">
                <input name="notes" placeholder="Shelf Notes">
                <button type="submit">Add Shelf</button>
                <% } %>
                    <%- include('../partials/footer') %>