<%- include('../partials/header') %>
    <h1>Your Collection</h1>
    <% if (shelves.length > 0) { %>
        <% shelves.forEach(function(s) { %>
            <table>
                <tr>
                    <h4>
                        <form action="/shelves/<%=s ._id %>?_method=DELETE" method="POST">
                            <button id="remove-shelf" type="submit" onclick="return confirm ('Delete Shelf?');"><%= s.name %></button>
                        </form>
                    </h4>
                </tr>
                <tr>
                    <h4>
                        <%= s.notes %>
                    </h4>
                </tr>

                <tr>
                    <% s.books.forEach(function(book){ %>
                        <td>
                            <div id="book-on-shelf">
                                <form action="/shelves/<%=s ._id %>/books/<%= book._id %>?_method=DELETE" method="POST">
                                    <button id="remove-book" type="submit" onclick="return confirm('Remove book?');">x</button>
                                </form>
                                &nbsp;
                                <a href="/books/<%= book._id %>" style="color: #d2d2d2">
                                    <%= book.title %>
                                </a>
                            </div>
                        </td>
                        <%})%>
                </tr>
            </table>
            <br>
            <div id="title-search">
                <form action="/shelves/<%= s._id%>" method="POST">
                    <input name="title" placeholder="Search">
                    <button id="add-title" type="submit">Add Title</button>
                </form>
            </div>
            <br>
            <form action="/shelves" method="POST">
                <input name="name" placeholder="Shelf Name">
                <input name="notes" placeholder="Shelf Notes">
                <button id="add-shelf" type="submit">Add Shelf</button>
            </form>
            <%})%>
                <% } else {%>
                    <h2>No Shelves Available Yet</h2>
                    <form id="add-shelf" action="/shelves" method="POST">
                        <input name="name" placeholder="Shelf Name">
                        <input name="notes" placeholder="Shelf Notes">
                        <button type="submit">Add Shelf</button>
                        <% } %>
                            <%- include('../partials/footer') %>